.parent{
    height: 500px;
    background-color:grey;
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
    grid-auto-rows: 100px;
    justify-content: center;
    align-content: center;
}
.child{
    flex-basis: 200px;
    background-color: white;
    margin: 8px;
    justify-items: center;
    align-content: center;
    
}
.child2{
    grid-column-start: 3;
    grid-column-end: 7;
    

    grid-row-start: 3;
}
